doctype html
html(lang="en")
head 
    title Blockchain

    link(rel="icon" href="media/logo.ico")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alef&family=Crimson+Text&family=Noto+Sans+JP&display=swap")
    link(rel='stylesheet' href='@fortawesome/fontawesome-free/css/all.css')
    link(rel='stylesheet' href='bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='styles/style.css')

body(class="body")

    block content

    block scripts
        script(src="jquery/dist/jquery.js")
        script(src="bootstrap/dist/js/bootstrap.js")
        script(src="scripts/script.js")
        script(src="scripts/blockchain.js") 